/* CSS Document */


.addIcon
{
	background:url(../images/icons/add.png) left no-repeat;
	padding-left:20px; padding-top:3px;	padding-bottom:3px;	margin:2px;

}

.editIcon
{
	background:url(../images/icons/pencil.png) left no-repeat;
	padding-left:20px; padding-top:3px;	padding-bottom:3px;	margin:2px;
}

.deleteIcon
{
	background:url(../images/icons/cancel.png) left no-repeat;
	padding-left:20px; padding-top:3px;	padding-bottom:3px;	margin:2px;
}

.tickIcon
{
	background:url(../images/icons/tick.png) left no-repeat;
	padding-left:20px; padding-top:3px;	padding-bottom:3px;	margin:2px;
}

.backIcon
{
	background:url(../images/icons/arrow_left.png) left no-repeat;
	padding-left:20px; padding-top:3px;	padding-bottom:3px;	margin:2px;
}

